body{
    margin: 0;
    font-family: 'Poppins', ;
}

section{
    height: 500px;
    padding-bottom: 200px;
}

.first-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.half-width img{
    width: 100%;
}

#first-banner-text{
    margin-top: 180px;
    margin-left: 8%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(241, 3, 122), pink);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

#name-highlight{
    font-size: 35px;
    color: rgb(241, 3, 122);
    font-weight: 700;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
    color: darkgray;
}

.second-banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
#second-banner-text{
    margin-top: 130px;
    margin-right: 8%;
}

.third-banner{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 12%;
    padding-left: 8%;
    margin-top: 50px;
}

.third-width{
    width: 30%;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.third-width img{
    width: 100%;
    margin-right: 30px;
    margin-top: 80px;
}

#third-h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 60px;
}